.quiz__btn {
	padding: 12px 30px;
	border-radius: 3px;
	margin: 20px 0px;
	font-size: 0.8rem;
	min-width: 120px;
	color: var(--color-white);
	border: 1px solid transparent;
	margin-left: 20px;
}

.quiz__btn--grey {
	background-color: var(--second-accent-color);
}

.quiz__btn--blue {
	background-color: var(--third-accent-color);
	cursor: pointer;
	transition: 0.3s;
}

.quiz__btn--blue:hover {
	background-color: rgb(10, 70, 228);
}
